*{
    margin: 0%;
    padding: 0%;
    outline: none;
    
}
.container{
    position: relative;
}
ul{
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    gap: 35px;
    padding: 5px;
}
nav{
    background-color: rgba(0, 0, 0, .5);
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    transition: 0.6s;
    font-family: "Amatic SC", sans-serif;
}
nav.sticky{
    background-color: rgba(255, 255, 255, 0.5);
}
nav.sticky ul li a{
    color: black;
    
}
nav.sticky ul li a:hover{
    border-bottom: 2px solid rgb(52, 34, 215);
    font-size: 41px;
}
img{
    width: 100%;
}
.menu-item{
    text-decoration: none;
    color: white;
}
.menu-item:hover{
    border-bottom: 2px solid rgb(118, 216, 219);
    font-size: 41px;
}
.logo{
    width: 60px;
    transition: 0.6s;
}
.big-white-text{
    font-size: 10vh;
    position: absolute;
    font-family: "Amatic SC", sans-serif;
    top: 30%;
    left: 45%;
    color: white;
    text-align: center;
}
.doNotDisplay{
    display: none;
}
.let-me-see-menu{
    font-size: 8vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Amatic SC", sans-serif;
    width: 25%;
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 4px;
}
.let-me-see-menu:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
footer{
    background-color: rgba(0, 0, 0, 0.75);
    height: 9vh;
    font-size: large;
    font-family: "Amatic SC", sans-serif;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    font-size: 2em;
    width: 100%;
}
footer a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    opacity: 0.7;
}
footer a:hover{
    opacity: 1;
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 100px;
}
.form-container{
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  
}
form .field{
  margin-bottom: 20px;
}
form .input-field{
 position: relative;
 height: 55px;
 width: 100%;
}
.input-field input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  padding: 0 15px;
}
.invalid input{
  border-color: #d93025;
}
.input-field .show-hide{
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
  
}
.field .error{
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}

.invalid .error{
  display: flex;
}
.error .error-icon{
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error{
  align-items: flex-start;
}
.button{
  margin: 25px 0 6px;
}
.button input{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover{
  background-color: #0e4bf1;
}