*{
    margin: 0%;
    padding: 0%;
    outline: none;
    
}
.container{
    position: relative;
}
ul{
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    gap: 35px;
    padding: 5px;
}
nav{
    background-color: rgba(0, 0, 0, .5);
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    transition: 0.6s;
    font-family: "Amatic SC", sans-serif;
}
nav.sticky{
    background-color: rgba(255, 255, 255, 0.5);
}
nav.sticky ul li a{
    color: black;
    
}
nav.sticky ul li a:hover{
    border-bottom: 2px solid rgb(52, 34, 215);
    font-size: 41px;
}
img{
    width: 100%;
}
.menu-item{
    text-decoration: none;
    color: white;
}
.menu-item:hover{
    border-bottom: 2px solid rgb(118, 216, 219);
    font-size: 41px;
}
.logo{
    width: 60px;
    transition: 0.6s;
}
.big-white-text{
    font-size: 10vh;
    position: absolute;
    font-family: "Amatic SC", sans-serif;
    top: 30%;
    left: 45%;
    color: white;
    text-align: center;
}
.doNotDisplay{
    display: none;
}
.let-me-see-menu{
    font-size: 8vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Amatic SC", sans-serif;
    width: 25%;
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 4px;
}
.let-me-see-menu:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
footer{
    background-color: rgba(0, 0, 0, 0.75);
    height: 9vh;
    font-size: large;
    font-family: "Amatic SC", sans-serif;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    font-size: 2em;
    width: 100%;
}
footer a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    opacity: 0.7;
}
footer a:hover{
    opacity: 1;
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 100px;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form{
  padding: 15%;
  padding-top: 0px;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
  top: 100px;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}